  @import "tailwindcss";

  :root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

#fluid-canvas {
  pointer-events: auto; /* capture cursor */
  cursor: default !important;
}
#root > div {
  background: transparent !important; /* don’t hide canvas */
  pointer-events: none;              /* don’t block mouse */
}